.navbar {
  font-family: "Josefin Sans";
  font-weight: normal;
  font-size: 18px;
  max-width: 1140px;
  margin: auto;
  justify-content: center;
  text-transform: uppercase;
}
.navbarMenu {
  color: #00214d;
}
.navbarStart {
  margin-right: 0 !important;
  width: 100% !important;
  justify-content: space-between;
}
.search {
  transition: transform 0.2s ease-in-out;
}
.search:hover {
  transform: scale(1.3);
}
.navbarSearch {
  display: flex;
  align-self: center;
  width: 90%;
}
input.input {
  z-index: -1;
}

.Icon {
  pointer-events: all !important;
}
.Icon:hover {
  cursor: pointer;
}
.navbarEnd {
  display: none;
}
@media only screen and (max-width: 1024px) {
  .image {
    width: 150px !important;
    height: 60px !important;
  }
  .searchMob {
    position: absolute;
    top: 0.5rem;
    right: 4rem;
  }
  .navbar {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .navbarSearch {
    display: block !important;
  }
}

@media only screen and (max-width: 1023px) {
  .navbar *,
  .navbar {
    background-color: #172b45;
    border-bottom: 1px solid white !important;
  }

  .navbar a,
  .navbar h2,
  .navbar p {
    color: white !important;
  }

  .navbarMenu.isActive {
    display: flex !important;
    color: white !important;
    flex-direction: column;
    justify-content: space-between;
  }
  .navbarMenu {
    flex-direction: column;
    justify-content: space-between;
    background-color: #172b45;
    color: white !important;
    text-transform: capitalize;
    padding: 2.5rem 1rem 0.5rem 1rem;
  }
  .navbarMenu .is-active * {
    color: white !important;
  }
  .navbarStart .is-active > * {
    border-bottom: 1px solid white;
  }

  .searchMob,
  .searchMob *,
  .burger,
  .image,
  .navbarBrand,
  .navbarEnd *,
  .navbarEnd,
  .navbarStart,
  .image * {
    border: none !important;
  }
  .navbarEnd {
    display: flex !important;
    margin-bottom: 5rem;
    margin-top: 5rem;
  }
  .vijesti {
    display: flex;
    flex-direction: column;
    line-height: 35px;
  }
  .contactInfo {
    display: flex;
    align-self: flex-start;
    justify-self: flex-start;
  }
  .socialNetworks {
    display: flex;
    justify-content: space-between;
    width: 35%;
    font-size: 1rem;
  }
  .navbarSearch * {
    background-color: white !important;
  }
  .navbarForSearch,
  .navbarForSearch * {
    background-color: white !important;
  }
}
