.main {
  display: flex;
  width: 100%;
}
.posts {
  width: 70%;
  min-width: 70%;
}
.side {
  margin-left: 2rem;
}

@media only screen and (max-width: 1024px) {
  .main {
    flex-direction: column;
  }
  .posts {
    width: 100%;
  }
  .side div:nth-of-type(1) {
    display: none;
  }
}
